<!-- Header -->
<header class="header-v3">
  <!-- Header desktop -->
  <div class="container-menu-desktop trans-03">
    <div class="wrap-menu-desktop">
      <nav class="limiter-menu-desktop p-l-45 sticky-top">

        <!-- Logo desktop -->
        <a href="#" class="logo">
          <p style="font-size: 30px;color:black;">
            <b>Cake </b>martz</p>
        </a>



        <!-- Icon header -->

    </div>
    </nav>
  </div>
  </div>

  <!-- Header Mobile -->
  <div class="wrap-header-mobile">
    <!-- Logo moblie -->
    <div class="logo-mobile">
      <!-- <a href="index.html"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a> -->
    </div>

    <!-- Icon header -->
    <div class="wrap-icon-header flex-w flex-r-m h-full m-r-15">
      <div class="flex-c-m h-full p-r-5">
        <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11" data-notify="">
          <!-- <i class="zmdi zmdi-shopping-cart"></i> -->
        </div>
      </div>
    </div>



    <!-- Modal Search -->
    <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
      <button class="flex-c-m btn-hide-modal-search trans-04">
        <i class="zmdi zmdi-close"></i>
      </button>

      <form class="container-search-header">
        <div class="wrap-search-header">
          <input class="plh0" type="text" name="search" placeholder="Search...">

          <button class="flex-c-m trans-04">
            <i class="zmdi zmdi-search"></i>
          </button>
        </div>
      </form>
    </div>
</header>

<!-- Banner -->
<section id="about">
  <div class="sec-banner bg0 p-t-95 p-b-55" style="background-color:azure;">
    <div class="container">

      <div class="row">
        <div class="col-md-4  ">
          <img src="img/cake.jpg" style="width:30rem;%">
        </div>

        <div class=" container bg-dark col-md-8 col-lg-3 ">
          <!-- <h1 class="text-center">Signup</h1> -->
          <div class="ui centered  grid container">

            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>


            <div class="ui text container">


              <div class="three ui  buttons center aligned grid container" style="margin:20px;">


                <div class=" ui  big basic violet button" id="accountS">

                  <div class="content " style="font-size:12px;color:white;">ACCOUNT SETUP</div>
                </div>


                <button class=" ui  big disabled blue basic button" id="socialP">
                  <div class="content" style="font-size:12px;color:white;">SOCIAL PROFILE</div>
                </button>


                <button class=" disabled ui big orange basic button" id="details">

                  <div class="content" style="font-size:12px;color:white;">PERSONAL DETAILS</div>
                </button>
              </div>


              <div class="row"></div>
              <div class="row"></div>


              <div id="account">


                <div class="ui center aligned  segment container " id="signUpBox" style="background-color: #F1F0FF;border-radius:5px;">


                  <div class="ui centered header">
                    <h1 class="font" style="color:#300032;">Create your account</h1>
                  </div>

                  <form class="ui form">
                    <div class="field">
                      <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" placeholder="Email-id">
                      </div>
                    </div>

                    <div class="field">
                      <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" placeholder="Password">
                      </div>
                    </div>

                    <div class="field">
                      <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" placeholder="Confirm Password">
                      </div>
                    </div>

                    <div class="one ui buttons">
                      <button class="ui  inverted violet  medium button next1 ">Next</button>
                    </div>

                  </form>


                </div>

              </div>


              <div id="social">


                <div class="ui center aligned  segment container " id="signUpBox" style="background-color: #F1F0FF;border-radius:5px;">


                  <div class="ui centered header">
                    <h1 class="font" style="color:rgb(50,153,153);">Social Profile</h1>
                  </div>

                  <form class="ui form">
                    <div class="field">
                      <div class="ui left icon input">
                        <i class="twitter icon"></i>
                        <input type="text" placeholder="twitter">
                      </div>
                    </div>

                    <div class="field">
                      <div class="ui left icon input">
                        <i class="facebook icon"></i>
                        <input type="text" placeholder="facebook">
                      </div>
                    </div>

                    <div class="field">
                      <div class="ui left icon input">
                        <i class="github icon"></i>
                        <input type="text" placeholder="github">
                      </div>
                    </div>

                    <div class="two ui buttons">
                      <button class="ui  inverted violet  medium button prev1">Previous</button>
                      <button class="ui  inverted violet  medium button next2">Next</button>
                    </div>

                  </form>


                </div>

              </div>


              <div id="personal">


                <div class="ui center aligned  segment container " id="signUpBox" style="background-color: #F1F0FF;border-radius:5px;">


                  <div class="ui centered header">
                    <h1 class="font" style="color:orange;">Personal Details</h1>
                  </div>

                  <form class="ui form">
                    <div class="field">


                      <input type="text" placeholder="First Name">

                    </div>

                    <div class="field">


                      <input type="text" placeholder="Last Name">

                    </div>

                    <div class="field">


                      <input type="text" placeholder="Phone">

                    </div>
                    <div class="field">


                      <input type="text" placeholder="Skills">

                    </div>

                    <div class="two ui buttons">
                      <button class="ui  inverted violet  medium button prev2">Previous</button>
                      <button class="ui  inverted violet  medium button submit">Submit</button>
                    </div>

                  </form>


                </div>

              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-lg-6 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">
          GET IN TOUCH
        </h4>

        <p class="stext-107 cl7 size-201">
          Any questions? Let us know in store at 8th floor, 39 Ojodu Berger,Lagos Nigeria or call us on (+234)7033718271
        </p>

        <div class="p-t-27">
          <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
            <i class="fa fa-facebook"></i>
          </a>

          <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
            <i class="fa fa-instagram"></i>
          </a>

          <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
            <i class="fa fa-pinterest-p"></i>
          </a>
        </div>
      </div>

      <div class="col-sm-6 col-lg-6 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">
          Newsletter
        </h4>

        <form>
          <div class="wrap-input1 w-full p-b-4">
            <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
            <div class="focus-input1 trans-04"></div>
          </div>

          <div class="p-t-18">
            <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="p-t-40">
      <div class="flex-c-m flex-w p-b-18">
        <a href="#" class="m-all-1">
          <img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
        </a>

        <a href="#" class="m-all-1">
          <img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
        </a>

        <a href="#" class="m-all-1">
          <img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
        </a>

        <a href="#" class="m-all-1">
          <img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
        </a>

        <a href="#" class="m-all-1">
          <img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
        </a>
      </div>

      <p class="stext-107 cl6 txt-center">
        Copyright &copy; All rights reserved |Cakemartz

      </p>
    </div>
  </div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
  <span class="symbol-btn-back-to-top">
    <i class="zmdi zmdi-chevron-up"></i>
  </span>
</div>

<!-- Modal1 -->
<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
  <div class="overlay-modal1 js-hide-modal1"></div>

  <div class="container">
    <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
      <button class="how-pos3 hov3 trans-04 js-hide-modal1">
        <img src="images/icons/icon-close.png" alt="CLOSE">
      </button>
    </div>
  </div>
</div>
</div>